In [ ]:
!pip install ipython-sql psycopg2-binary prettytable folium geopandas
%load_ext sql
%sql postgresql://admin:P%40ssw0rd@postgres_db:5432/open-flights
%config SQL.conn_class="psycopg2"
%config SqlMagic.autopandas=True
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### 1. Top 3 airlines that serve the most routes in each country.

In [3]:
%%sql
with airline_route_counts as (SELECT a.country,
                                     r.airline_id,
                                     COUNT(*) AS route_count
                              FROM open_flights.routes r
                                       JOIN open_flights.airlines a ON r.airline_id = a.id
                                       JOIN open_flights.countries c ON a.country = c.name
                              GROUP BY a.country, r.airline_id
                              ORDER BY route_count DESC),
     ranked_airlines AS (SELECT country,
                                airline_id,
                                route_count,
                                RANK() OVER (PARTITION BY country ORDER BY route_count DESC) AS rank
                         FROM airline_route_counts)
select ra.country,
       a.name AS airline_name,
       ra.route_count
FROM ranked_airlines AS ra
         JOIN
     open_flights.airlines AS a ON ra.airline_id = a.id
WHERE ra.rank <= 3
ORDER BY ra.country, ra.route_count DESC

 * postgresql://admin:***@postgres_db:5432/open-flights
287 rows affected.

         country                 airline_name  route_count
0    Afghanistan       Ariana Afghan Airlines           22
1    Afghanistan                Safi Airlines           14
2    Afghanistan                      Kam Air            5
3        Albania            Albanian Airlines            4
4        Algeria                  Air Algerie          234
..           ...                          ...          ...
282        Yemen                      Yemenia           96
283       Zambia  Proflight Commuter Services           18
284       Zambia               Zambia Skyways            8
285     Zimbabwe                 Air Zimbabwe           12
286     Zimbabwe              Avient Aviation           12

[287 rows x 3 columns]

### 2. Airports with the most codeshare flights along with the number of codeshare routes.

In [4]:
%%sql
SELECT a.name             AS airport_name,
       COUNT(r.codeshare) AS codeshare_route_count
FROM open_flights.airports a
         JOIN
     open_flights.routes r ON a.id = r.source_id OR a.id = r.destination_id
WHERE r.codeshare = TRUE
GROUP BY a.name
ORDER BY codeshare_route_count DESC;

 * postgresql://admin:***@postgres_db:5432/open-flights
1665 rows affected.

                                          airport_name  codeshare_route_count
0     Hartsfield Jackson Atlanta International Airport                   1266
1                 Chicago O'Hare International Airport                    545
2                    Los Angeles International Airport                    424
3                              London Heathrow Airport                    403
4                         Vienna International Airport                    319
...                                                ...                    ...
1660                                     Liège Airport                      1
1661                  Al Ghaidah International Airport                      1
1662                                    Tambor Airport                      1
1663               Point Salines International Airport                      1
1664        Philip S. W. Goldson International Airport                      1

[1665 rows x 2 columns]

### 3. Distance between airports for direct flights (zero stops) and find the longest flight, provide the airline, source, and destination airport details.

In [5]:
%%sql
SELECT al.name                                                    AS airline_name,
       sa.name                                                    AS source_airport,
       da.name                                                    AS destination_airport,
       ST_Distance(sa.geom::geography, da.geom::geography) / 1000 AS distance_km
FROM open_flights.routes r
         JOIN open_flights.airports sa ON r.source_id = sa.id
         JOIN open_flights.airports da ON r.destination_id = da.id
         JOIN open_flights.airlines al ON r.airline_id = al.id
WHERE r.stops = 0
ORDER BY distance_km DESC
LIMIT 3;

 * postgresql://admin:***@postgres_db:5432/open-flights
3 rows affected.

,airline_name,source_airport,destination_airport,distance_km
0,Proflight Commuter Services,Kenneth Kaunda International Airport Lusaka,Los Alamitos Army Air Field,16089.885579
1,Proflight Commuter Services,Los Alamitos Army Air Field,Kenneth Kaunda International Airport Lusaka,16089.885579
2,Proflight Commuter Services,Simon Mwansa Kapwepwe International Airport,Los Alamitos Army Air Field,15945.094374

#### visualization of routes on map

In [6]:
from sqlalchemy import create_engine
import pandas as pd
import folium

# Database connection
engine = create_engine('postgresql://admin:P%40ssw0rd@postgres_db:5432/open-flights')

query = """
SELECT al.name AS airline_name,
       sa.name AS source_airport,
       sa.lat AS source_lat,
       sa.lon AS source_lon,
       da.name AS destination_airport,
       da.lat AS destination_lat,
       da.lon AS destination_lon,
       ST_Distance(sa.geom::geography, da.geom::geography) / 1000 AS distance_km
FROM open_flights.routes r
JOIN open_flights.airports sa ON r.source_id = sa.id
JOIN open_flights.airports da ON r.destination_id = da.id
JOIN open_flights.airlines al ON r.airline_id = al.id
WHERE r.stops = 0
ORDER BY distance_km DESC
LIMIT 3;
"""

df = pd.read_sql(query, engine)

avg_lat = (df['source_lat'].mean() + df['destination_lat'].mean()) / 2
avg_lon = (df['source_lon'].mean() + df['destination_lon'].mean()) / 2
m = folium.Map(location=[avg_lat, avg_lon], zoom_start=3)

for _, row in df.iterrows():
    # Source airport marker
    folium.Marker(
        location=[row['source_lat'], row['source_lon']],
        popup=f"Source: {row['source_airport']} ({row['airline_name']})",
        icon=folium.Icon(color="blue", icon="plane", prefix="fa")
    ).add_to(m)

    # Destination airport marker
    folium.Marker(
        location=[row['destination_lat'], row['destination_lon']],
        popup=f"Destination: {row['destination_airport']} ({row['airline_name']})",
        icon=folium.Icon(color="red", icon="plane", prefix="fa")
    ).add_to(m)

    # Line connecting source and destination
    folium.PolyLine(
        locations=[(row['source_lat'], row['source_lon']),
                   (row['destination_lat'], row['destination_lon'])],
        color="green",
        weight=2.5,
        opacity=1
    ).add_to(m)

# Display the map
m

### 4. Airport that hosts unique airlines based on the routes operated, along with the number of different airlines operating there

In [7]:
%%sql
SELECT a.name                       AS airport_name,
       a.city                       AS airport_city,
       a.country                    AS airport_country,
       COUNT(DISTINCT r.airline_id) AS unique_airlines
FROM open_flights.airports a
         JOIN open_flights.routes r ON a.id = r.source_id OR a.id = r.destination_id
GROUP BY a.id
ORDER BY unique_airlines DESC
LIMIT 3;

 * postgresql://admin:***@postgres_db:5432/open-flights
3 rows affected.

,airport_name,airport_city,airport_country,unique_airlines
0,Charles de Gaulle International Airport,Paris,France,109
1,Frankfurt am Main Airport,Frankfurt,Germany,100
2,Suvarnabhumi Airport,Bangkok,Thailand,98

### 5. Airline covers the widest range of geographic longitudes between the airports it serves.

In [8]:
%%sql
SELECT al.name                   AS airline_name,
       MAX(abs(a1.lon - a2.lon)) AS latitude_range
FROM open_flights.routes r
         JOIN open_flights.airports a1 ON r.source_id = a1.id
         JOIN open_flights.airports a2 ON r.destination_id = a2.id
         JOIN open_flights.airlines al ON r.airline_id = al.id
GROUP BY al.id
ORDER BY latitude_range DESC
LIMIT 1;

 * postgresql://admin:***@postgres_db:5432/open-flights
1 rows affected.

  airline_name  latitude_range
0  Air Pacific      359.218002

### 6. Airline covers the widest range of geographic latitudes between the airports it serves.

In [9]:
%%sql
SELECT al.name                   AS airline_name,
       MAX(abs(a1.lat - a2.lat)) AS latitude_range
FROM open_flights.routes r
         JOIN open_flights.airports a1 ON r.source_id = a1.id
         JOIN open_flights.airports a2 ON r.destination_id = a2.id
         JOIN open_flights.airlines al ON r.airline_id = al.id
GROUP BY al.id
ORDER BY latitude_range DESC
LIMIT 1;

 * postgresql://admin:***@postgres_db:5432/open-flights
1 rows affected.

               airline_name  latitude_range
0  KLM Royal Dutch Airlines       87.130801

### 7. Routes with the lowest passenger traffic or the most excess capacity based on the number of stops and airline partnerships.

In [10]:
%%sql
SELECT r.airline,
       r.source,
       r.destination,
       r.stops,
       r.codeshare,
       COUNT(r.airline_id) AS partnership_count
FROM open_flights.routes r
GROUP BY r.airline, r.source, r.destination, r.stops, r.codeshare
ORDER BY r.stops DESC,
         partnership_count -- Routes with most stops and fewest partnerships could indicate excess capacity;
LIMIT 10;

 * postgresql://admin:***@postgres_db:5432/open-flights
10 rows affected.

  airline source destination  stops  codeshare  partnership_count
0      AC    YVR         YBL      1      False                  1
1      FL    MCO         HOU      1      False                  1
2      CU    FCO         HAV      1      False                  1
3      FL    HOU         SAT      1      False                  1
4      WN    MCO         BOS      1      False                  1
5      5T    YRT         YEK      1      False                  1
6      WN    BOS         MCO      1      False                  1
7      FL    MCO         ORF      1      False                  1
8      AC    ABJ         BRU      1      False                  1
9      SK    ARN         GEV      1      False                  1